In [12]:
###################################################
# Detemine the demographics of survey respondents #
# First Detemine for individual surveys and then  #
# Add up the totals for all respodents            #
###################################################

In [13]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
from pprint import pprint
from pathlib import Path
import numpy as np

# Read in the combined survey data csv
combined_csv = "Resources/combined_df.csv"
combined_df = pd.read_csv(combined_csv)

#Display header of combined df
combined_df.head()

,Unnamed: 0,age,original_gender,gender,country,num_employees,employer_discuss_mh,disorder_past,disorder_current,bring_up_phys_issue_in_interview,bring_up_mh_issue_in_interview,request_med_leave,age groups,year,individual
0,0,39.0,Male,male,United Kingdom,26-100,No,Yes,No,Maybe,Maybe,Very easy,35-44,2016,1
1,1,29.0,male,male,United States of America,6-25,Yes,Yes,Yes,Maybe,No,Somewhat easy,25-34,2016,2
2,2,38.0,Male,male,United Kingdom,6-25,No,Maybe,No,Yes,Yes,Neither easy nor difficult,35-44,2016,3
3,3,43.0,male,male,United Kingdom,No Response,No Response,Yes,Yes,Yes,Maybe,No Response,35-44,2016,4
4,4,43.0,Female,female,United States of America,6-25,No,Yes,Yes,Maybe,No,Neither easy nor difficult,35-44,2016,5

In [14]:
# make dfs that look at the various demographics by year
age_groups_by_year = combined_df[["age groups","year"]]
gender_by_year = combined_df[["gender","year"]]
country_by_year = combined_df[["country","year"]]
num_employees_by_year = combined_df[["num_employees","year"]]
disorder_past_by_year = combined_df[["disorder_past","year"]]
disorder_current_by_year = combined_df[["disorder_current","year"]]

In [26]:
# create a list that holds the survey years
years = [2016,2017,2018,2019]

# create a function that will find the counts of a certain demographic by year
def demographic_count(df, column):
    for one_year in years:
        year_breakdown = df.loc[(df["year"] == one_year), :]
        counts_for_year = pd.DataFrame(year_breakdown[column].value_counts())
        counts_for_year["year"] = one_year
        print(counts_for_year)

In [27]:
# age group count by year
demographic_count(age_groups_by_year, "age groups")

            count  year
age groups
25-34         710  2016
35-44         442  2016
18-24         123  2016
45-54         118  2016
55-64          31  2016
65-74           4  2016
            count  year
age groups
25-34         339  2017
35-44         256  2017
45-54          81  2017
18-24          60  2017
55-64          16  2017
65-74           2  2017
            count  year
age groups
25-34         187  2018
35-44         156  2018
45-54          36  2018
18-24          26  2018
55-64          10  2018
65-74           2  2018
            count  year
age groups
25-34         147  2019
35-44         114  2019
45-54          50  2019
18-24          29  2019
55-64          11  2019

In [19]:
# number of employees count by year
demographic_count(num_employees_by_year, "num_employees")

num_employees count for 2016: num_employees
26-100            292
No Response       286
More than 1000    255
100-500           247
6-25              208
500-1000           80
1-5                60
Name: count, dtype: int64
num_employees count for 2017: num_employees
100-500           203
More than 1000    158
26-100            128
No Response       111
6-25               86
500-1000           48
1-5                20
Name: count, dtype: int64
num_employees count for 2018: num_employees
More than 1000    105
100-500            81
26-100             70
6-25               69
No Response        56
500-1000           31
1-5                 5
Name: count, dtype: int64
num_employees count for 2019: num_employees
More than 1000    111
100-500            80
No Response        48
26-100             45
6-25               34
500-1000           26
1-5                 7
Name: count, dtype: int64